@model condogestcet97.web.Data.Entities.Financial.FinancialReport

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FinancialReport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPdfSent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPdfSent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpensesTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpensesTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RevenueTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RevenueTotal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
