@model condogestcet97.web.Data.ViewModels.UserViewModels.UserDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2 class="mb-4">Account Information</h2>

<div class="card shadow-sm mb-4">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Email)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Address)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Address)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.PhoneNumber)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.FiscalNumber)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.FiscalNumber)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.TwoFAEnabled)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.TwoFAEnabled)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.EmailConfirmed)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.EmailConfirmed)</dd>
        </dl>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Index" class="btn btn-secondary ml-2">Back to List</a>
        }
        else
        {
            <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword" class="btn btn-warning ml-2">Change Password</a>
            <a asp-controller="Home" asp-action="Dashboard" class="btn btn-secondary ml-2">Back to Dashboard</a>
        }
    </div>
</div>
