@model condogestcet97.web.Data.Entities.Financial.Quota

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quota</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaidDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaidDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LateFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LateFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CondoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CondoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
