@using condogestcet97.web.Data.Entities.Condominium
@model IEnumerable<condogestcet97.web.Data.Entities.Condominium.Document>

@{
    ViewData["Title"] = "Index";
    var hasInterventionDocuments = Model.Any(d => d is InterventionDocument);
    var hasMeetingDocuments = Model.Any(d => d is MeetingDocument);
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Subject)</th>
            <th>@Html.DisplayNameFor(model => model.First().Description)</th>
            <th>@Html.DisplayNameFor(model => model.First().EmissionDate)</th>
            <th>@Html.DisplayNameFor(model => model.First().Type)</th>

            @if (hasInterventionDocuments)
            {
                <th>Intervention ID</th>
            }

            @if (hasMeetingDocuments)
            {
                <th>Meeting ID</th>
            }

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Subject)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.EmissionDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Type)</td>

                @if (hasInterventionDocuments)
                {
                    <td>
                        @if (item is InterventionDocument interventionDoc)
                        {
                            @interventionDoc.Intervention?.Id
                        }
                    </td>
                }

                @if (hasMeetingDocuments)
                {
                    <td>
                        @if (item is MeetingDocument meetingDoc)
                        {
                            @meetingDoc.Meeting?.Id
                        }
                    </td>
                }

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
